body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.footer {
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.text-white-dim {
    color: #E5E7EB;
}

.text-white-bright {
    color: #F9FAF8;
}

.btn-default {
    padding: 10px 30px;
    background-color: #3882F6;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}

.header {
    background: #1f2937;
    display: flex;
    padding: 20px 10vw;
    align-items: center;
    justify-content: space-between;
}

.header h3 {
    margin: 0;
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 20px
}

.home-hero {
    background: #1f2937;
    display: flex;
    padding: 80px 10vw;
    gap: 30px;
}

.home-hero img {
    max-width: 50%;
}

.home-hero p {
    font-size: 18px;
}

.home-hero .title {
    margin: 0;
    font-size: 48px;
}

.home-randominfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 10vw;
    gap: 50px;
}

.home-randominfo .title {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.randominfo-items {
    display: flex;
    gap: 50px;
}

.randominfo-item .fake-img {
    outline: 3px solid lightblue;
    border-radius: 15px;
    height: 140px;
}

.randominfo-item {
    max-width: 180px;
    text-align: center;
}

.home-quote {
    background-color: #E5E7EB;
    padding: 80px 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-quote .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.home-quote .quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.home-call-to-action {
    padding: 80px 15vw;
    display: flex;
    justify-content: center;
}

.home-call-to-action .call-to-action {
    background-color: #3882F6;
    width: 100%;
    padding: 40px 10%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;;
}

.home-call-to-action .title {
    margin: 0;
}

.home-call-to-action .text {
    margin-right: auto;
}

.home-call-to-action .btn {
    border: 2px solid white;
}
